* {
    outline: none;
    margin: 0;
    padding:0;
}

body {
    overflow: hidden;
    background-color: black;
}

#title {
    position:absolute;
    font-size: 5vh;
    font-weight: 900;
    left:3vh;
    top: 1vh;
    z-index: 2;
}

.text {
    font-family: 'Noto Sans KR', sans-serif;
    color:white;
    z-index: 2;

    -webkit-transition: color 500ms ease;
    -ms-transition: color 500ms ease;
    transition: color 500ms ease;
}

#menu{
    background-color: #000000;
    border-right: 1px solid;
    border-color: white;
    height:100%;
    display: inline-flex;
    z-index: 4;
    font-size: 1.2vh;
    right :0%;
    position:absolute;
    writing-mode: vertical-lr;
    transform: rotate(0.5turn);
    list-style-type: none;
    overflow: hidden;
}

#menu > li{
    width:4vh;
    height:20%;
    text-align: center;
    line-height: 4vh;

    font-weight: 500;

    -webkit-transition: all 300ms cubic-bezier(.6,0,.4,1);
    -ms-transition: all 300ms cubic-bezier(.6,0,.4,1);
    transition: all 300ms cubic-bezier(.6,0,.4,1);
}

#list_and_show{
    position:absolute;
    width: 100%;
    height:85%;
    top:15%;
}

#area_list_container {
    overflow: hidden;
    position:absolute;
    width:30%;
    height:100%;
    color:white;
    z-index: 2;
    left:70%;
    list-style-type: none;
    -ms-overflow-style: none;
 
    /* border-left:solid 2px #FFFFFF; */

    background-color: #000000;

    -webkit-transition: right  300ms cubic-bezier(.6,0,.4,1);
    -ms-transition: right 300ms cubic-bezier(.6,0,.4,1);
    transition: right 300ms cubic-bezier(.6,0,.4,1);
}

#area_list_container::-webkit-scrollbar{
    display:none;
}

#area_list{
    position:absolute;
    left:0vh;
    overflow: hidden;
    overflow-y: scroll;
    width:100%;
    height:100%;

    list-style-type: none;
    -ms-overflow-style: none;

    background-color: black;

}

#area_list::-webkit-scrollbar{
    display:none;
}

#area_list > li{
    padding-top:2vh;
    padding-bottom:10vh;
    left:0;

    width:100%;
    height:5vh;

    /* border-left:solid 2px #FFFFFF; */
    /* border-right:solid 2px #FFFFFF; */

    -webkit-transition: all  300ms cubic-bezier(.6,0,.4,1);
    -ms-transition: all 300ms cubic-bezier(.6,0,.4,1);
    transition: all 300ms cubic-bezier(.6,0,.4,1);
}

.area_id{
    color:black;
    position: absolute;
    left:10vh;
    font-weight: 900;
    font-size: 1.5vw;
    opacity: 0.3;
}


.area_info{
    position: absolute;
    left:2vh;
    opacity:0.1;
}

.address_kr{
    margin-top: 0.5vh;
    font-weight: 400;
    font-size: 1vw;
}

.address_eng{
    margin-top: 0.5vh;
    font-weight: 400;
    font-size: 1vw;
}


#canvus_container {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.clickable{
    cursor: pointer;
}

#hovering_canvas {
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
    top:0;
}

#virtual_map_2d{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    margin-top: auto;
    margin-left: auto;
    margin-bottom:auto;
    margin-right:auto;

    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0.1;
}

#virtual_map_2d > img{
    top:0;
    bottom:0;
    left:0;
    right:0;

    margin-top: auto;
    margin-left: auto;
    margin-bottom:auto;
    margin-right:auto;

    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
    
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(292deg) brightness(108%) contrast(108%);
    
    -webkit-transition: opacity  100ms ease-out;
    -ms-transition: opacity 100ms ease-out;
    transition: opacity 100ms ease-out;
}

#show{
    position: absolute;
    color: white;
    width:70%;
    height:100%;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 1.5vw;
    font-weight: 900;
    line-height: 170%;
    -ms-overflow-style: none;
}

#show::-webkit-scrollbar{
    display:none;
}


#Place_info{
    position: absolute;
    left:5%;
    width:30%;
    word-break:keep-all;
}

#Place_photo{
    position: absolute;
    right:3%;
    width:60%;

}
#p01{
    width:100%;
    object-fit: contain;
}
#p02{
    width:100%;
    object-fit: contain;
}

#p03{
    width:100%;
    object-fit: contain;
}




