* {
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: black;
}

#title {
    position:absolute;
    font-size: 5vh;
    font-weight: 900;
    left:3vh;
    top: 1vh;
    z-index: 2;
}

.text {
    font-family: 'Noto Sans KR', sans-serif;
    color:white;
    z-index: 1;

    -webkit-transition: color 500ms ease;
    -ms-transition: color 500ms ease;
    transition: color 500ms ease;
}

#menu{
    background-color: #000000;
    border-right: 1px solid;
    border-color: white;
    height:100%;
    display: inline-flex;
    z-index: 4;
    font-size: 1.2vh;
    right :0%;
    position:absolute;
    writing-mode: vertical-lr;
    transform: rotate(0.5turn);
    list-style-type: none;
    overflow: hidden;
}

#menu > li{
    width:4vh;
    height:20%;
    text-align: center;
    line-height: 4vh;

    font-weight: 500;

    -webkit-transition: all 300ms cubic-bezier(.6,0,.4,1);
    -ms-transition: all 300ms cubic-bezier(.6,0,.4,1);
    transition: all 300ms cubic-bezier(.6,0,.4,1);
}


#area_list_container {
    overflow: hidden;
    position:absolute;
    width:40vh;
    height:100%;
    color:white;
    top:0;
    right:-32vh;
    z-index: 2;
    
    list-style-type: none;
    -ms-overflow-style: none;
 
    border-left:solid 2px #FFFFFF;

    background-color: #000000;

    -webkit-transition: right  300ms cubic-bezier(.6,0,.4,1);
    -ms-transition: right 300ms cubic-bezier(.6,0,.4,1);
    transition: right 300ms cubic-bezier(.6,0,.4,1);
}

#area_list_container::-webkit-scrollbar{
    display:none;
}

#area_list{
    position:absolute;
    left:0vh;
    overflow: hidden;
    overflow-y: scroll;
    width:36vh;
    height:100%;

    list-style-type: none;
    -ms-overflow-style: none;

    background-color: black;

}

#area_list::-webkit-scrollbar{
    display:none;
}

#area_list > li{
    padding:1vh;
    width:36vh;
    height:5vh;

    /* border-left:solid 2px #FFFFFF; */
    /* border-right:solid 2px #FFFFFF; */

    -webkit-transition: all  300ms cubic-bezier(.6,0,.4,1);
    -ms-transition: all 300ms cubic-bezier(.6,0,.4,1);
    transition: all 300ms cubic-bezier(.6,0,.4,1);
}

.area_id{
    position: absolute;
    left:10vh;
    font-weight: 900;
    font-size: 2vh;
    opacity: 0.3;
}


.area_info{
    position: absolute;
    left:20vh;
    opacity:0.1;
}

.area_size{
    margin-top: 0.3vh;
    font-weight: 400;
    font-size: 1vh;
}

.list_element_subtext{
    margin-top: 0.3vh;
    font-weight: 400;
    font-size: 1vh;
}

.area_owner{
    margin-top: 0.3vh;
    font-weight: 900;
    font-size: 1vh;
    color:#00FF00
}


#hover_notice{
    position:absolute;

    font-weight: 600;
    
    top:0;
    bottom:0;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    background-color: #101010;

    z-index: 3;
    line-height: 4vh;
    writing-mode: vertical-lr;
    transform: rotate(0.5turn);
}






#canvus_container {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.clickable{
    cursor: pointer;
}

#hovering_canvas {
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
    top:0;
}

#virtual_map_2d{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    margin-top: auto;
    margin-left: auto;
    margin-bottom:auto;
    margin-right:auto;

    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0.1;
}

#virtual_map_2d > img{
    top:0;
    bottom:0;
    left:0;
    right:0;

    margin-top: auto;
    margin-left: auto;
    margin-bottom:auto;
    margin-right:auto;

    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
    
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(292deg) brightness(108%) contrast(108%);
    
    -webkit-transition: opacity  100ms ease-out;
    -ms-transition: opacity 100ms ease-out;
    transition: opacity 100ms ease-out;
}

#Area{
    margin-top: 15vh;
    margin-left: 3vh;
    position: absolute;
    color: white;
}

#Area_id{
    font-weight: 900;
    font-size: 5vh;
}

#Area_info{
    margin-top: 1.5vh;
}

#Area_size{
    margin-top: 0.3vh;
    font-weight: 400;
    font-size: 2vh;
}

#Occupied{
    margin-top: 0.3vh;
    font-weight: 400;
    font-size: 2vh;
}

#Area_owner{
    margin-top: 0.3vh;
    font-weight: 900;
    font-size: 2vh;
    color:#00FF00
}
